<%- include('partials/header') %>

    <div class="contact-page">
        <div class="container contact-heading mt-5">
            <div class="row justify-content-center">
                <h6 class="text-white">Feel Free To Contact Me</h6>
            </div>
            <div class="row justify-content-center">
                <h1 class="text-white">Get In <span style="color: #FF651C; font-weight: bold;">Touch</span></h1>
            </div>
            <div class="row justify-content-center text-white">
                loader
            </div>
        </div>

        <div class="container contact-body mt-5">
            <div class="row">
                <div class="col mr-5">
                    <div class="row">
                        <h5 class="text-white">Contact Me</h5>
                    </div>
                    <div class="row">
                        <div class="form-group w-100">
                            <input type="text" class="form-control" id="Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group w-100">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Enter email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group w-100">
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group w-100">
                            <textarea type="text" class="form-control" rows="5" id="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h5 class="text-white">Contact Info</h5>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                        </div>
                        <div class="col">
                            <h5 class="text-white">Niket Ralebhat</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                        </div>
                        <div class="col">
                            <h5 class="text-white">+91 7009853177</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                        </div>
                        <div class="col-8">
                            <h5 class="text-white">niketralebhat2004@gmail.com</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
                        </div>
                        <div class="col">
                            <h5 class="text-white">Jamkhed, Ahmednagar, Maharashtra, India</h5>
                        </div>
                    </div>
                    <div class="row mt-5 ml-2 mt-3">
                        <div class="col-1 mr-3">
                            <a href="https://www.linkedin.com/in/niket-ralebhat/"><i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i></a>
                        </div>
                        <div class="col-1">
                            <a href="https://github.com/Niket714"><i class="fa-brands fa-github fa-2xl" style="color: #ffffff;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>