<%- include('partials/header') %>

    <div class="home-content">
        <div class="col text-white home-heading">
            <div>
                <h6>Hello, I'm</h6>
                <h1 style="color: #FF651C;">Niket Ralebhat</h1>
                <h6>A Full-stack Developer</h6>
            </div>
            
        </div>
        <div class="col home-photo">
            <%- include('photos/programmer.ejs') %>
        </div>
    </div>

<%- include('partials/footer') %>