body{
    min-height: 100vh;
    background-color: #212121;
    display: flex;
    flex-direction: column;
}

.header_class{
    background-color: #313131;
    height: 6vh;
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_class ul{
    height: 4vh;
    display: flex;
    align-content: center;
    padding-left:0px;
       
}

.header_class div{
    margin-left: 10vh;
    height: 4vh;
}

.header_class div p{
    font-weight: bolder;
    font-size: larger;
    height: 4vh;
    color: #FF651C;
}

.header_class ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3vh;
    padding-right: 3vh;
}

.header_class a{
    text-decoration-color: none !important;
    color: whitesmoke;
    font-weight: bolder;
    
}

.header_class ul li a:hover{
    text-decoration-color: none !important;
    color: #FF651C;
}

.footer_class{
    background-color: #313131;
    /* bottom: 0 !important; */
    margin-top: auto;
    width:100%;
    min-width:100vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.footer_class footer{
    /* font-weight: bolder; */
    color: #FF651C;
}



.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: bolder;
    font-style: normal;
}
  
 /* SIDEBAR POSITION */
 .sidebar {
    background-color: #212121;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 300px;
    z-index: 999;
}

.sidebar__content {
    padding: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar__content ul{
    list-style-type: none;
}

.sidebar__content ul li{
    margin-top: 4vh;
    text-decoration: none!important;
}
.sidebar__content ul a{
    /* text-decoration-color: none !important; */
    color: whitesmoke;
    font-weight: bolder;
}

.sidebar__content ul a:hover{
    color: #FF651C;
}

/* SIDEBAR HIDDEN STATE */
.sidebar[aria-hidden="true"] {
    transition: 200ms;
    transform: translateX(100%);
}


/* SIDEBAR VISIBLE STATE */
.sidebar:not([aria-hidden]),
.sidebar[aria-hidden="false"] {
    transition: 200ms;
    transform: translateX(0);
}


.toggle_button{
    display: none;
}

@media (max-width: 1100px) {
    .small-size-toggle{
        display:none;
    }

    .toggle_button{
        margin-right: 2vh;
        display: inherit;
    }
}

.resume{
    background-color: #FF651C;
    color: whitesmoke;
    border-radius: 1vh;
    border: none;
    padding: .5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    transition: transform 0.3s ease-out;
}

  
.moving-button:hover {
    transform: translateY(-0.5vh); /* Move the button 10 pixels to the right on hover */
}

.form-control:focus {
    border-color: #FF651C !important;
    box-shadow: 0 0 5px #FF651C !important;
}

.form-control{
    background-color:  #313131!important;
}

.form-control::placeholder {
    color: whitesmoke;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #FF651C!important;
    border-color: #FF651C !important;
    box-shadow: none!important;
}

input, textarea{
    color: white !important;
}

.home-content{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25vh;
}

@media (max-width: 700px) {
    .home-content{
        flex-direction: column;
    }

    .home-heading{
        margin-bottom: 0;
        justify-content: center;
        max-height: 25vh;
    }
}